@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
}

#root {
  height: 100vh;
}
